@charset "UTF-8";

#topWrap { /*36*/
	height: 100% !important;
}

.main-visual_wrap { /*37*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-visual_inner { /*39*/
	position: relative;
	box-sizing: border-box;
	height: 100%;
	margin: 0 auto;
}

.set_common img { /*42*/
	width: 100%;
}

.btn_slogan, .set_common { /*47*/
	position: absolute;
}

.btn_slogan { /*49*/
	height: 38px;
}

.btn_slogan a { /*50*/
	display: block;
	height: 100%;
	font-size: 15px;
	line-height: 34px;
	border-radius: 5px;
	text-align: center;
	box-sizing: border-box;
}

.new-rewards_wrap { /*140*/
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #1e3932;
}

.new-rewards_inner { /*141*/
	max-width: 800px;
	margin: 0 auto;
}

.new-rewards_inner:after {
	content: "";
	display: block;
	clear: both;
}

.new-rewards_inner .pc-br { /*144*/
	display: none;
}

.new-rewards_logo { /*146*/
	float: left;
	width: 16.3%;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}

.new-rewards_logo img { /*147*/
	width: 176px;
}

.new-rewards_conts { /*149*/
	box-sizing: border-box;
	float: left;
	width: auto;
	color: #fff;
	letter-spacing: 0.5px;
}

.new-rewards_conts .info-cont { /*151*/
	position: relative;
	margin-bottom: 22px;
}

.new-rewards_conts .info-cont_txt { /*152*/
	margin-bottom: 12px;
}

.new-rewards_conts .info-cont_txt h2 { /*153*/
	line-height: 1.4;
	margin-bottom: 12px;
	font-size: 26px;
	font-weight: normal;
}

.new-rewards_conts .info-cont_txt p { /*154*/
	line-height: 1.4;
	font-size: 17px;
}

.new-rewards_conts .btn-signin_group { /*155*/
	/*position: absolute;*/
	text-align: center;
	padding-top: 20px;
	bottom: 20px;
	right: 0;
	font-size: 0;
}

.new-rewards_conts .btn-signin_group a { /*156*/
	box-sizing: border-box;
	display: inline-block;
	height: 38px;
	line-height: 36px;
	padding-left: 18.5px;
	padding-right: 18.5px;
	font-size: 14px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.new-rewards_conts .btn-signin_join { /*157*/
	background-color: #00704a;
	border: 2px solid #00704a;
}

.new-rewards_conts .btn-signin_login {
	margin-left: 9px;
	background-color: transparent;
	border: 2px solid #fff;
    margin-right: 110px;
}

.fav_prod_txt01 { /*259*/
	background: url("../../non_co_img/main/fav_prod_txt01.png") no-repeat;
	height: 204px;
	overflow: hidden;
	position: absolute;
	text-indent: -20000px;
	top: 120px;
	width: 258px;
	z-index: 7;
}

.fav_prod_txt02 { /*260*/
	background: url("../../non_co_img/main/fav_prod_txt02.png") no-repeat;
	height: 156px;
	overflow: hidden;
	position: absolute;
	text-indent: -20000px;
	top: 370px;
	width: 362px;
	z-index: 7;
}

.btn_fav_prod { /*262*/
	border: 2px solid #fff;
	border-radius: 3px;
	left: 328px;
	position: absolute;
	top:570px;
	z-index: 7;
}

.btn_fav_prod a { /*263*/
	color: #fff;
	display: block;
	height: 100%;
	line-height: 34px;
	text-align: center;
	width: 100%;
	-webkit-transition: background color .7s, color .7s;
	transition: background color .7s, color .7s;
}

.fav_img { /*340*/
	position: absolute;
	background-size: 100% !important;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 7;
}

#favWrap .wrap_inner { /*341*/
	bottom: 0;
}

.btn_fav_prod { /*344*/
	width: 125px;
	height: 38px;
	border-width: 0;
}

.btn_fav_prod a { /*345*/
	font-size: 15px;
	border: 2px solid #fff;
	border-radius: 5px;
	box-sizing: border-box;
	transition: background-color .7s, color .7s, border-color .7s; 
	-webkit-transition:background-color .7s, color .7s, border-color .7s; text-decoration: none;
}

.btn_fav_prod a:hover {
	background-color: #fff;
	color: #000;
	text-decoration: underline;
}